<?xml version="1.0"?>
<config>
    <modules>
        <EnSplet_CatalogRuleFix>
            <version>1.0.0</version>
        </EnSplet_CatalogRuleFix>
    </modules>
    <global>
       <models>
          <catalogrule>
              <rewrite>
                  <observer>EnSplet_CatalogRuleFix_Model_Observer</observer>
              </rewrite>
          </catalogrule>
       </models>
    </global>
</config>